*{
    box-sizing: border-box;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.5em;}
h3{ font-size: 1.5em;}
h4{ font-size: 1.25em;}
p{  font-size: 1em;}
ul{ list-style: none;}

body{
    background-color: antiquewhite;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

button{
    font-size: 0.95em;
    padding: 5px 6px;
    border-radius: 12px;
    border: 1px solid black(0,0,0,0.3);
    box-shadow: 2px 2px 10px black(0,0,0,0.5);
    color: antiquewhite;
    background-color:burlywood;
}

.container{
    max-width: 1600px;
    margin: auto;
}

header{
    background-color: rgb(245,245,245);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color:black ;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}    

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    color: black;
}

#Entrada{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
         rgba(0,0,0,0.5)
    )
    ,url(media/photo-1588591795084-1770cb3be374.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    color: bisque;
}

#Cuerpo{
    background-color: wheat;
    color: antiquewhite;
    text-align: center;
}

#Cuerpo .container{
    padding: 100px 0px;
} 

#Cuerpo h2{
    margin: none;
}

#Cuerpo p{
    display: none;
}

#Cuerpo .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 12px;
    border-radius: 15px;
}

.carta:first-child{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
         rgba(0,0,0,0.5)
    )
    ,url(media/risk.jpg) ;    
}

.carta:nth-child(2){
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
         rgba(0,0,0,0.5)
    )
    ,url(media/rummy.jpg) ; 
}

.carta:nth-child(3){
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
         rgba(0,0,0,0.5)
    )
    ,url(media/catan.jpg) ;
}

#Adicionales .container{
    text-align: center;
    padding: 250px 12px;
}

#Adicionales li{
    margin: 15px 0px;
    font-weight: bold;
}

Footer{
     padding: 50px 30px;
     margin: auto;
     overflow: hidden;
     text-align: center;
}

#content-foo{
    text-align: center;
}

footer p{
    margin: 0;
    padding: 12px; 
}

.Programas{
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 720px){
    header  .container{
        flex-direction: row;
        justify-content: space-between;
    }
    
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 15px;
    }

    #Entrada .container{

    }

    #Entrada .img-container{
        background-image:linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
             rgba(0,0,0,0.5)
        ), url(media/photo-1609950436102-9eaf3cb5e17a.avif) ;
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 500px;
    } 

    #Cuerpo{
        display:flex;
        justify-content: center;
    }

    #Cuerpo p{
        display: block;
    }

    #Cuerpo .carta{
        padding: 15px;
    }

}   